@model CoreTraining.Models.Article

@{
    ViewData["Title"] = "Article Details.";
}
<div class="pull-left">
    <a href="@Url.Action("Index","Home")")><i class="icon fa-arrow-left"></i> Back home</a>
</div>
<br>

<div class="container">

    <div class="row text-center">
        <div class="col-md-12">
                <h2>@Model.Title</h2>
                <br/>
                <a href="#" class="image fit"><img src="@Model.Caption" alt="" /></a>
                <p class="text-justify">
                    @Model.Body
                </p>
        </div>
        <footer>
            <p>Published by @Model.Publisher.Username &nbsp; @Model.Created</p>
        </footer>
    </div>
    
</div>